<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }}</title>
</head>
<body>
    <h1> {{ title }}</h1>
    <p>The Sum Of Two Number is {{ sum }}</p>
     <p>The Sub Of Two Number is {{ sub }}</p>
</body>
</html>