<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }}</title>
</head>
<body>
    <h1> {{ title }}</h1>
    <p>Hello This is {{ messege }}</p>
    <form method="post" action="/">
        <input type="text" name="username"></br>
        <input type="text" name="password"></br>
        <input type="text" name="cpassword"></br>
        <input type="submit" name="submit" value="submit"></br>
    </form>
</body>
</html>