<html>
<head>
<title>{{title}}</title>
</head>
<body>
<h1>The {{title}} is</h1>
<p>The Messge is {{messege}}</p>
<form method="post" action="/">
<input type="text" name="username"><br/>
<input type="password" name="password"><br/>
<input type="password" name="cpassword"><br/>
<input type="submit" name="submit">
</body>
</html>